desktop.ini

venv

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media
backend/static
backend/gework/static
db.sqlite3
db.sqlite3-journal

### Django.Python Stack ###
# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class
gework/static/favicon.ico
gework/static/logo192.png
gework/static/logo512.png
gework/static/manifest.json
gework/static/robots.txt
gework/static/admin/css/autocomplete.css
gework/static/admin/css/base.css
gework/static/admin/css/changelists.css
gework/static/admin/css/dashboard.css
gework/static/admin/css/fonts.css
gework/static/admin/css/forms.css
gework/static/admin/css/login.css
gework/static/admin/css/responsive_rtl.css
gework/static/admin/css/responsive.css
gework/static/admin/css/rtl.css
gework/static/admin/css/widgets.css
gework/static/admin/css/vendor/select2/LICENSE-SELECT2.md
gework/static/admin/css/vendor/select2/select2.css
gework/static/admin/css/vendor/select2/select2.min.css
gework/static/admin/fonts/LICENSE.txt
gework/static/admin/fonts/README.txt
gework/static/admin/fonts/Roboto-Bold-webfont.woff
gework/static/admin/fonts/Roboto-Light-webfont.woff
gework/static/admin/fonts/Roboto-Regular-webfont.woff
gework/static/admin/img/calendar-icons.svg
gework/static/admin/img/icon-addlink.svg
gework/static/admin/img/icon-alert.svg
gework/static/admin/img/icon-calendar.svg
gework/static/admin/img/icon-changelink.svg
gework/static/admin/img/icon-clock.svg
gework/static/admin/img/icon-deletelink.svg
gework/static/admin/img/icon-no.svg
gework/static/admin/img/icon-unknown-alt.svg
gework/static/admin/img/icon-unknown.svg
gework/static/admin/img/icon-viewlink.svg
gework/static/admin/img/icon-yes.svg
gework/static/admin/img/inline-delete.svg
gework/static/admin/img/LICENSE
gework/static/admin/img/README.txt
gework/static/admin/img/search.svg
gework/static/admin/img/selector-icons.svg
gework/static/admin/img/sorting-icons.svg
gework/static/admin/img/tooltag-add.svg
gework/static/admin/img/tooltag-arrowright.svg
gework/static/admin/img/gis/move_vertex_off.svg
gework/static/admin/img/gis/move_vertex_on.svg
gework/static/admin/js/actions.js
gework/static/admin/js/actions.min.js
gework/static/admin/js/autocomplete.js
gework/static/admin/js/calendar.js
gework/static/admin/js/cancel.js
gework/static/admin/js/change_form.js
gework/static/admin/js/collapse.js
gework/static/admin/js/collapse.min.js
gework/static/admin/js/core.js
gework/static/admin/js/inlines.js
gework/static/admin/js/inlines.min.js
gework/static/admin/js/jquery.init.js
gework/static/admin/js/popup_response.js
gework/static/admin/js/prepopulate_init.js
gework/static/admin/js/prepopulate.js
gework/static/admin/js/prepopulate.min.js
gework/static/admin/js/SelectBox.js
gework/static/admin/js/SelectFilter2.js
gework/static/admin/js/timeparse.js
gework/static/admin/js/urlify.js
gework/static/admin/js/admin/DateTimeShortcuts.js
gework/static/admin/js/admin/RelatedObjectLookups.js
gework/static/admin/js/vendor/jquery/jquery.js
gework/static/admin/js/vendor/jquery/jquery.min.js
gework/static/admin/js/vendor/jquery/LICENSE.txt
gework/static/admin/js/vendor/select2/LICENSE.md
gework/static/admin/js/vendor/select2/select2.full.js
gework/static/admin/js/vendor/select2/select2.full.min.js
gework/static/admin/js/vendor/select2/i18n/ar.js
gework/static/admin/js/vendor/select2/i18n/az.js
gework/static/admin/js/vendor/select2/i18n/bg.js
gework/static/admin/js/vendor/select2/i18n/ca.js
gework/static/admin/js/vendor/select2/i18n/cs.js
gework/static/admin/js/vendor/select2/i18n/da.js
gework/static/admin/js/vendor/select2/i18n/de.js
gework/static/admin/js/vendor/select2/i18n/el.js
gework/static/admin/js/vendor/select2/i18n/en.js
gework/static/admin/js/vendor/select2/i18n/es.js
gework/static/admin/js/vendor/select2/i18n/et.js
gework/static/admin/js/vendor/select2/i18n/eu.js
gework/static/admin/js/vendor/select2/i18n/fa.js
gework/static/admin/js/vendor/select2/i18n/fi.js
gework/static/admin/js/vendor/select2/i18n/fr.js
gework/static/admin/js/vendor/select2/i18n/gl.js
gework/static/admin/js/vendor/select2/i18n/he.js
gework/static/admin/js/vendor/select2/i18n/hi.js
gework/static/admin/js/vendor/select2/i18n/hr.js
gework/static/admin/js/vendor/select2/i18n/hu.js
gework/static/admin/js/vendor/select2/i18n/id.js
gework/static/admin/js/vendor/select2/i18n/is.js
gework/static/admin/js/vendor/select2/i18n/it.js
gework/static/admin/js/vendor/select2/i18n/ja.js
gework/static/admin/js/vendor/select2/i18n/km.js
gework/static/admin/js/vendor/select2/i18n/ko.js
gework/static/admin/js/vendor/select2/i18n/lt.js
gework/static/admin/js/vendor/select2/i18n/lv.js
gework/static/admin/js/vendor/select2/i18n/mk.js
gework/static/admin/js/vendor/select2/i18n/ms.js
gework/static/admin/js/vendor/select2/i18n/nb.js
gework/static/admin/js/vendor/select2/i18n/nl.js
gework/static/admin/js/vendor/select2/i18n/pl.js
gework/static/admin/js/vendor/select2/i18n/pt-BR.js
gework/static/admin/js/vendor/select2/i18n/pt.js
gework/static/admin/js/vendor/select2/i18n/ro.js
gework/static/admin/js/vendor/select2/i18n/ru.js
gework/static/admin/js/vendor/select2/i18n/sk.js
gework/static/admin/js/vendor/select2/i18n/sr-Cyrl.js
gework/static/admin/js/vendor/select2/i18n/sr.js
gework/static/admin/js/vendor/select2/i18n/sv.js
gework/static/admin/js/vendor/select2/i18n/th.js
gework/static/admin/js/vendor/select2/i18n/tr.js
gework/static/admin/js/vendor/select2/i18n/uk.js
gework/static/admin/js/vendor/select2/i18n/vi.js
gework/static/admin/js/vendor/select2/i18n/zh-CN.js
gework/static/admin/js/vendor/select2/i18n/zh-TW.js
gework/static/admin/js/vendor/xregexp/LICENSE.txt
gework/static/admin/js/vendor/xregexp/xregexp.js
gework/static/admin/js/vendor/xregexp/xregexp.min.js
gework/static/css/main.94ad8322.chunk.css
gework/static/css/main.94ad8322.chunk.css.map
gework/static/js/2.0dbab6a9.chunk.js
gework/static/js/2.0dbab6a9.chunk.js.map
gework/static/js/main.074e7de7.chunk.js
gework/static/js/main.074e7de7.chunk.js.map
gework/static/js/runtime~main.760faad6.js
gework/static/js/runtime~main.760faad6.js.map
gework/static/rest_framework/css/bootstrap-theme.min.css
gework/static/rest_framework/css/bootstrap-tweaks.css
gework/static/rest_framework/css/bootstrap.min.css
gework/static/rest_framework/css/default.css
gework/static/rest_framework/css/font-awesome-4.0.3.css
gework/static/rest_framework/css/prettify.css
gework/static/rest_framework/docs/css/base.css
gework/static/rest_framework/docs/css/highlight.css
gework/static/rest_framework/docs/css/jquery.json-view.min.css
gework/static/rest_framework/docs/img/favicon.ico
gework/static/rest_framework/docs/img/grid.png
gework/static/rest_framework/docs/js/api.js
gework/static/rest_framework/docs/js/highlight.pack.js
gework/static/rest_framework/docs/js/jquery.json-view.min.js
gework/static/rest_framework/fonts/fontawesome-webfont.eot
gework/static/rest_framework/fonts/fontawesome-webfont.svg
gework/static/rest_framework/fonts/fontawesome-webfont.ttf
gework/static/rest_framework/fonts/fontawesome-webfont.woff
gework/static/rest_framework/fonts/glyphicons-halflings-regular.eot
gework/static/rest_framework/fonts/glyphicons-halflings-regular.svg
gework/static/rest_framework/fonts/glyphicons-halflings-regular.ttf
gework/static/rest_framework/fonts/glyphicons-halflings-regular.woff
gework/static/rest_framework/fonts/glyphicons-halflings-regular.woff2
gework/static/rest_framework/img/glyphicons-halflings-white.png
gework/static/rest_framework/img/glyphicons-halflings.png
gework/static/rest_framework/img/grid.png
gework/static/rest_framework/js/ajax-form.js
gework/static/rest_framework/js/bootstrap.min.js
gework/static/rest_framework/js/coreapi-0.1.1.js
gework/static/rest_framework/js/csrf.js
gework/static/rest_framework/js/default.js
gework/static/rest_framework/js/jquery-3.4.1.min.js
gework/static/rest_framework/js/prettify-min.js
